/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.* export-ignore
/.phpunit.result.cache export-ignore
/.styleci.yml export-ignore
/composer.lock export-ignore
/docker-compose.yml export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/renovate.json export-ignore
/tests export-ignore
/vendor export-ignore
